<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/main.css">
    <script defer src="static/assets/script.js"></script>
    <title>Text Image Generator</title>

</head>

<body>
    <form action="/generate" method="post">
        <div class="row">
            <label for="font">Font:</label>
            <select  id="font" name="font" onchange="updateVirtualKeyboard(this.value)" required style="width: 350px; height: 50px; font-size: 20px;"></select>
            <label for="text">Text:</label>
            <input type="text" id="text" name="text" oninput="updateDisplay()" required>
            <button id="reset-button" type="button" onclick="resetText()">Reset
                <input id="reset-icon" type="reset" style="display: none;">
            </button>
        </div>
        <label for="favcolor">Select color:</label>
        <input type="color" id="favcolor" name="favcolor" value="#ffec00" onchange="updateDisplayColor()">
        <div id="color-picker">
            <div id="color-display"></div>
            <input type="text" id="color-input" readonly>
        </div>
        <!-- <button type="button" onclick="previewText()">Preview Text</button> -->
        <button type="button" onclick="downloadImage()">Download PNG</button>
    </form>

    <div class="row">
        <p id="display-text"> </p>
    </div>

    <div id="virtual-keyboard"></div>

    
</body>

</html>